---
const { project } = Astro.props;
const { title, year, role, mission, phases } = project;
---

<details class="project-dropdown">
    <summary><h2>{title} : {year}</h2></summary>
    <div class="content">
        <p>{role}</p>
        <div class="lang-block en">     
            {mission && (
                <p>{mission.en}</p>
            )}       

            {phases && phases.map((p) => (
                <div class="phase-item">
                    {(p.en.preheader || p.en.header) && (
                        <h3>
                            {p.en.preheader && <span class="pre">{p.en.preheader} </span>}
                            {p.en.header}
                        </h3>
                    )}
                    <p>{p.en.text}</p>
                </div>
            ))}
        </div>

        <hr class="lang-divider"/>

        <div class="lang-block es">
            {mission && (
                <p>{mission.es}</p>
            )}

            {phases && phases.map((p) => (
                <div class="phase-item">
                    {(p.es.preheader || p.es.header) && (
                        <h3>
                            {p.es.preheader && <span class="pre">{p.es.preheader} </span>}
                            {p.es.header}
                        </h3>
                    )}
                    <p>{p.es.text}</p>
                </div>
            ))}
        </div>

        <slot/>
    </div>
</details>

<style>
    .project-dropdown{
        margin-bottom: var(--s1);
    }

    .project-dropdown:last-child{
        margin-bottom: 0;
    }

    .project-dropdown summary{
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-family: var(--font-mono);
    }

    .project-dropdown summary::-webkit-details-marker, .project-dropdown summary::marker {
        display: none !important;
        content: "";
    }

    .project-dropdown .content p, .project-dropdown .content h3{
        font-size: var(--fs-xs);
    }

    .project-dropdown .content p{
        margin: 0;
    }

    .project-dropdown .content > p:first-child{
        font-style: italic;
    }

    .project-dropdown .lang-block{
        padding: var(--s2) 0;
    }

    .project-dropdown .es{
        color: var(--dgrey);
    }

    .project-dropdown h2{
        display: inline;
        font-size: var(--fs-sm);
        font-weight: var(--w-bold);
    }

    .project-dropdown .phase-item{
        margin: var(--s1) 0;
    }

    .project-dropdown .phase-item h3, .project-dropdown .phase-item p{
        display: inline;
    }

    @media (min-width: 992px){
        .project-dropdown h2{
            font-size: var(--fs-md);
        }

        .project-dropdown .content p, .project-dropdown .content h3{
            font-size: var(--fs-sm);
        }
    }
</style>