---
const { project } = Astro.props;
const { title, year, role, mission, phases, spanish } = project;
---

<details class="project-dropdown">
    <summary>{title}&#8211;{year}</summary>
    <div class="content">
        <div class="lang-block en">
            <p>{role}</p>
            <p>{mission}</p>

            {phases.map((phase) => (
                <div class="phase-item">
                    <h2>{phase.header}</h2>
                    <p>{phase.text}</p>
                </div>
            ))}
        </div>
        <hr class="lang-divider"/>
        <div class="lang-block es">
            <p>{es.role}</p>
            <p>{es.mission}</p>

            {es.phases.map((phase) => (
                <div class="phase-item">
                    <h2>{phase.header}</h2>
                    <p>{phase.text}</p>
                </div>
            ))}
        </div>

        <slot/>
    </div>
</details>

<style>

</style>