---
const { project } = Astro.props;
const { title, year, role, mission, phases } = project;
---

<details class="project-dropdown">
    <summary>{title} / {year}</summary>
    <div class="content">
        <p>{role}</p>
        <div class="lang-block en">     
            {mission && (
                <p>{mission.en}</p>
            )}       

            {phases && phases.map((p) => (
                <div class="phase-item">
                    {(p.en.preheader || p.en.header) && (
                        <h2>
                            {p.en.preheader && <span class="pre">{p.en.preheader} </span>}
                            {p.en.header}
                        </h2>
                    )}
                    <p>{p.en.text}</p>
                </div>
            ))}
        </div>

        <hr class="lang-divider"/>

        <div class="lang-block es">
            <p>{mission.es}</p>

            {phases && phases.map((p) => (
                <div class="phase-item">
                    {(p.es.preheader || p.es.header) && (
                        <h2>
                            {p.es.preheader && <span class="pre">{p.es.preheader} </span>}
                            {p.es.header}
                        </h2>
                    )}
                    <p>{p.en.text}</p>
                </div>
            ))}
        </div>

        <slot/>
    </div>
</details>

<style>

</style>