---
/* Layout.astro : grid structure */
import ToTop from '../components/ToTop.astro';
import { Image } from 'astro:assets';
import Portrait from '../assets/jean-paul-4.jpeg';
import { ClientRouter } from 'astro:transitions';
const { 
title = "Jean Paul Perez-Saldarriaga - Official Website",
description = "Jean Paul Perez-Saldarriaga is a Colombian-American multidiscplinary designer and musician based in Queens, NY specializing in lo-fi art and tangible media.",
image = "/img/jean-paul-opengraph.png"
} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <title>{title}</title>
        <meta name="description" content={description}>
        <meta property="og:type" content="website">
        <meta property="og:title" content={title}>
        <meta property="og:description" content={description}>
        <meta property="og:image" content={image}>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content={title}>
        <meta name="twitter:description" content={description}>
        <meta name="twitter:image" content={image}>
        <ClientRouter/>
    </head>
    <body>
        <div class="container">
            <aside class="left-col" id="about" transition:persist>
                <Image src={Portrait} alt="Jean Paul Perez-Saldarriaga" class="profile-img" format="webp" width={400}/>
                <ul>
                    <li><a href="mailto:me@jeanpaul.info">me [at] jeanpaul [dot] info</a></li>
                    <li><a href="https://instagram.com/angryson.404">[at] angryson.404</a></li>
                </ul>
                <p>Jean Paul Perez&#8209;Saldarriaga is a Colombian&#8209;American multidisciplinary designer and musician based in Queens, NY. His practice specializes in lo&#8209;fi art and tangible media. His professional experience includes over three years as an in&#8209;house web designer for JWiz Inc. and over five years of independent freelancing. He holds a BA in Media Studies from CUNY Hunter College and serves as a Board Member for the sexual wellness non&#8209;profit organization, My Exxxperience.</p>
                <p>Jean Paul&#39;s work is an extension of his love for shoegaze, analog craft, and the local DIY music scene. He is also 1/5 of the alternative rock band, swimteam VHS.</p>
                <p lang="es">Jean Paul Perez&#8209;Saldarriaga es un diseñador multidisciplinario y músico colombo&#8209;americano radicado en Queens, NY. Su práctica se especializa en el arte de baja&#8209;fidelidad y los medios tangibles. Su experiencia profesional incluye más de tres años como diseñador web vinculado a JWiz Inc. y más de cinco años de colaboración independiente. Cuenta con una licenciatura en Estudios de Medios de CUNY Hunter College y forma parte de la junta directiva de la organización sin ánimo de lucro de bienestar sexual, My Exxxperience.</p>
                <p lang="es">El trabajo de Jean Paul es una extensión de su amor por el shoegaze, el oficio analógico, y la escena musical autogestionada local. También es 1/5 de la banda de rock alternativo, swimteam VHS.</p>                
            </aside>
            <main class="right-col">
                <nav transition:persist>
                    <a href="/" aria-label="Home">HOME / INICIO</a>
                    <a href="/works-obras" aria-label="Works">WORKS / OBRAS</a>
                </nav>
                <div class="icon-wrapper"><slot/></div>
            </main>
        </div>
        <ToTop/>
    </body>
    <style is:global>
        @font-face {
            font-family: 'Ancizar Sans';
            src: url('/fonts/AncizarSans-Variable.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: normal;
            font-display: auto;
        }

        @font-face {
            font-family: 'Ancizar Sans';
            src: url('/fonts/AncizarSans-Italic-Variable.ttf') format('truetype-variations');
            font-weight: 100 900;
            font-style: italic;
            font-display: auto;
        }

        @font-face {
            font-family: 'Sometype Mono';
            src: url('/fonts/SometypeMono-Italic-Variable.ttf') format('truetype-variations');
            font-weight: 400 700;
            font-style: italic;
            font-display: auto;
        }

        @font-face {
            font-family: 'Sometype Mono';
            src: url('/fonts/SometypeMono-Variable.ttf') format('truetype-variations');
            font-weight: 400 700;
            font-style: normal;
            font-display: auto;
        }

        *, *::before, *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        :root{
            --font-sans: 'Ancizar Sans', system-ui, sans-serif;
            --font-mono: 'Sometype Mono', monospace;
            --w-light: 300;
            --w-reg: 400;
            --w-med: 500;
            --w-bold: 700;
            --fs-base: 1rem;
            --gratio: 1.618;
            --pratio: 1.333;
            --fs-xs: calc(var(--fs-base) / var(--pratio));
            --fs-sm: var(--fs-base);
            --fs-md: calc(var(--fs-base) * var(--pratio));
            --fs-lg: calc(var(--fs-md) * var(--pratio));


            --white: #ffffff;
            --black: #0c0e0d;
            --dgrey: #2f3430;
            --lgrey: #e8eae8;
            --accent: #4b4646;

            --s1: .5rem;
            --s2: .8125rem;
            --s3: 1.3125rem;
            --s4: 2.125rem;
            --s5: 3.4375rem;
            --s6: 5.5625rem;
        }

        .left-col::-webkit-scrollbar, .right-col::-webkit-scrollbar{
            display: none;
        }

        html{
            background-color: var(--white);
            font-family: var(--font-sans);
            font-weight: var(--w-reg);
            color: var(--black);
            line-height: 1.5;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a{
            font-family: var(--font-mono);
            text-decoration: none;
            color: var(--accent);
            font-weight: var(--w-light);
            letter-spacing: .05em;
        }

        body{ margin: 0; padding: 0; height: 100%; }
        h1{ font-weight: var(--w-bold); }
        h2{ font-weight: var(--w-med); }

        .label{
            font-weight: var(--w-light);
            font-family: var(--font-mono);
            color: var(--accent);
        }

        .container{
            display: flex;
            flex-direction: column-reverse;
            height: 100%;
        }

        .left-col{ 
            background-color: var(--lgrey);
            padding: var(--s4) var(--s3);
            padding-right: var(--s6);
            -ms-overflow-style: none;
            scrollbar-width: none;
            -webkit-mask-image: linear-gradient(
                to bottom, 
                black 0%, 
                black 94%, 
                transparent 100%
            );
            mask-image: linear-gradient(
                to bottom, 
                black 0%, 
                black 94%, 
                transparent 100%
            );
        }

        .right-col{
            padding: var(--s3);
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--font-mono);
            font-size: var(--fs-sm);
            view-transition-name: gallery-fade;
        }

        nav a{
            font-weight: var(--w-bold);
            letter-spacing: .1em;
        }

        .profile-img{
            aspect-ratio: 3/4;
            width: 12rem;
            height: auto;
            object-fit: cover;
            filter: grayscale(1);
        }

        .left-col a{
            display: inline-block;
            text-decoration: underline;
            font-size: var(--fs-sm);
        }

        p{
            font-size: var(--fs-sm);
            margin: var(--s2) 0;
            line-height: 1.618;
        }

        p[lang="es"]{
            color: var(--dgrey);
        }

        p:not([lang="es"]) + p[lang="es"]{
            margin: var(--s3) 0 var(--s2) 0;
        }

        .left-col > *:last-child{
            margin-bottom: 0;
        }

        @media (min-width: 992px){
            html, body{
                height: 100vh;
                overflow: hidden;
                min-height: 1319.53px;
            }

            .container{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }

            .left-col{
                grid-column: span 4;
                padding-right: var(--s3);
                height: 100vh;
                overflow-y: auto;
            }

            .right-col{
                grid-column: span 8;
                padding: var(--s4) var(--s3);
                height: 100vh;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
            }

            .left-col a{
                font-size: var(--fs-xs);
            }

            .icon-wrapper{
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                font-size: var(--fs-sm);
            }
        }
    </style>
</html>